[Simulation]
# what dike ring (see Eijgenraam (2012)) should the analysis be for?
# instead of passing a dike ring, you can also pass the relevant model parameters explicitly
ring = 16
# what is the first year of the simulation?
first year = 2017
# what type of investment function to use? should be "exp" or "quad"
investment = exp
# how many states of the world should be used?
num sows = 10000
# is the surge distribution stationary with respect to temperature? should be "true" or "false"
stationary = false


[DPS]
# what basis function to use for the DPS policy. should be "cubic" or "Gaussian"
basis = Gaussian
# Should the DPS state include "remote" data or only include "local" data?
information = remote
# what window length should be used for sea level trend line fitting?
sl window = 30
# what window length should be used for ice sheet contribution fitting, if information is "remote"?
ice window = 10

[Borg]
# number of seeds for analysis
num seeds = 1
# is Borg running in parallel?
parallel = true
# if Borg is running in parallel, how many islands should be used?
num islands = 1
# number of function evaluations per island
num func evals = 100000
# frequency with which Borg will print runtime details
runtime freq = 1000
# max wallclock time (in hours)
max time = 100000

[Paths]
work path = /storage/home/vxs914/work/freeboard-remote-DPS
# file path for mean sea level and temperature projections. If information is "remote", this should include ice contribution projections.
# These can consist of multiple files if necessary.
data path = %(work path)s/data
sea level path = %(data path)s/BRICK_LSL_NED_RCP60.nc,%(data path)s/BRICK_LSL_NED_RCP85.nc,%(data path)s/BRICK_LSL_NED_RCP45.nc,%(data path)s/BRICK_LSL_NED_RCP26.nc
# file path for storm surge distribution parameter samples
surge path = %(data path)s/Delfzijl_gev_nonstationary.csv
# file path for output netcdfs
output path = /storage/home/vxs914/work/freeboard-remote-DPS/solutions
# path where Borg should save runtime details
runtime path = /storage/home/vxs914/work/freeboard-remote-DPS/runtime
